:root {
    font-size: 18px;

    /* Primary */
    --lightred: hsl(0, 100%, 67%);
    --orangeyyellow: hsl(39, 100%, 56%);
    --greenteal: hsl(166, 100%, 37%);
    --cobaltblue: hsl(234, 85%, 45%);

    /* Gradients */
    --lightslateblue: hsl(252, 100%, 67%);
    --lightroyalblue: hsl(241, 81%, 54%);
    --violetblue: hsla(256, 72%, 46%, 1);
    --persianblue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: white;
    --paleblue: hsl(221, 100%, 96%);
    --lightlavender: hsl(241, 100%, 89%);
    --darkgrayblue: hsl(224, 30%, 27%);

    /* Colours with opacity */
    --lightred-bg: hsla(0, 100%, 67%, 0.1);
    --orangeyyellow-bg: hsla(39, 100%, 56%, 0.1);
    --greenteal-bg: hsla(166, 100%, 37%, 0.1);
    --cobaltblue-bg: hsla(234, 85%, 45%, 0.1);
    --darkgrayblue-op: hsla(224, 30%, 27%, 0.5);

    --bg-gradient: linear-gradient(
        var(--lightslateblue),
        var(--lightroyalblue)
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Hanken Grotesk', 'Hanken_Grotesk';
    display: flex;
    align-items: center;
}

body > section {
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    background-color: var(--white);
    box-shadow: 10px 20px 50px var(--paleblue);
    width: 650px;
}

h1, p {
    color: var(--lightlavender);
    text-align: center;
}

h3, button {
    color: white;
    text-align: center;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

button {
    border: none;
    height: 3rem;
    border-radius: 999px;
    background-color: var(--darkgrayblue);
    font-family: 'Hanken Grotesk', 'Hanken_Grotesk';
    font-weight: 500;
}

button:hover {
    background-image: var(--bg-gradient);
}

.header {
    font-size: 1.3rem;
}

.summary, .result {
    width: 50%;
    padding: 35px;
    height: 25rem;
    justify-content: space-between !important;
}

.summary-score {
    height: 3rem;
    margin: 0.7rem 0 0.7rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.summary > * {
    width: 100%;
}

.result {
    border-radius: 20px;
    background-image: var(--bg-gradient);
}

.circle {
    border-radius: 999px;
    height: 10rem;
    width: 10rem;
    background-image: linear-gradient(var(--violetblue), var(--persianblue));
}

.result-number {
    font-size: 3rem;
    color: white;
}

.summary {
    background-color: var(--white);
    border-radius: 0 20px 20px 0;
}

.category {
    flex: 2;
    margin-left: 0.5rem;
}

/* Reusable classes */

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.darkgray {
    color: var(--darkgrayblue);
}

.lightgray {
    color: var(--darkgrayblue-op);
}

.lavender-transp {
    color: var(--lightlavender);
    opacity: 0.6;
}

/* JS classes */

.Reaction {
    color: var(--lightred);
    background-color: var(--lightred-bg);
}

.Memory {
    color: var(--orangeyyellow);
    background-color: var(--orangeyyellow-bg);
}

.Verbal {
    color: var(--greenteal);
    background-color: var(--greenteal-bg);
}

.Visual {
    color: var(--cobaltblue);
    background-color: var(--cobaltblue-bg);
}

/* Mobile styling */

@media screen and (max-width: 750px) {
    :root {
        font-size: 17px;
    }

    body > section {
        flex-direction: column;
        box-shadow: none;
        margin: 0;
        height: 100%;
    }

    .summary, .result {
        border-radius: 0 0 20px 20px;
        width: 100vw;
    }

    .summary {
        height: 60%;
    }

    .circle {
        height: 7.5rem;
        width: 7.5rem;
    }
}